@page
@model IndexModel
@using WebAppA.EnumClass;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p><b>@Volume.High.DisplayName:</b>  @Volume.High.Value</p>
    @{
        var volume = Volume.From(2);
        var volume2 = Volume.FromName("medium");
        var none = Volume.From(3);

        <p><b>@volume.DisplayName:</b>  @volume.Value</p>
        <p><b>@volume2.DisplayName:</b>  @volume2.Value</p>
        <p><b>@none.DisplayName:</b>  @none.Value</p>
    }
</div>